<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


	<context:component-scan base-package="zc.study.spring" />

	<beans profile="DEV TEST">
		<context:property-placeholder location="classpath:config/services-DEV.properties" />
	</beans>

	<beans profile="QUALIF">
		<context:property-placeholder location="classpath:config/services-${PLATFORM}.properties" />
	</beans>

	<beans profile="PROD">
		<context:property-placeholder location="classpath:config/services-${spring.profiles.active}.properties" />
	</beans>

</beans>
